html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', serif;
  background-color: rgb(178, 169, 211);
}

h1 {
  font-family: 'Pacifico', serif;
  font-size: 2.5em;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .text {
  margin-bottom: 20px;
  text-align: center;
}

code {
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
}

.all_images {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 150vh;
  flex-wrap: wrap;
  justify-content: center;
}

.image_container {
  position: relative;
}

.image_container img {
  margin: 10px;
  cursor: pointer;
}